h1, h2{
    color: black;
    text-align: center;
}

.content{
    width: 100%;
}

.graphs{
    background-color: #fbfbfb;
    width: 100%;
}

#player{
    width: 50%;
    display: block;
    margin: 0 auto;
}

#points{

    width: 75%;
    display: block;
    margin: 0 auto;
}

.table td{
    width: 50%;
    text-align: center;
}

#statisticsBox{
    display: none;
}

#graphContainer{
    max-height: 350px !important;
}